Repository univlorraine/esup-multi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-nodejs-version, backend:main, backend:microservice:auth, backend:microservice:cards, backend:microservice:chatbot, backend:microservice:clocking, backend:microservice:contact-us, backend:microservice:contacts, backend:microservice:features, backend:microservice:important-news, backend:microservice:mail-calendar, backend:microservice:map, backend:microservice:notifications, backend:microservice:restaurants, backend:microservice:rss, backend:microservice:schedule, backend:microservice:social-network, backend:microservice:static-pages, backend:microservice:statistics, frontend

check-nodejs-version:
  stage: .pre
  script:
  - "if [[ -z \"$(cat ${BACKEND_PATH}/.nvmrc)\" ]]; then\n  echo \"NODE_VERSION=lts\" > vars.env # si le fichier .nvmrc est vide ou n'existe pas on utilise la version LTS de Node\nelse\n  echo \"NODE_VERSION=$(cat ${BACKEND_PATH}/.nvmrc)\" > vars.env\nfi\n"
  - less vars.env
  ...

backend:main:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/main/.gitlab-ci.yml
    strategy: depend

backend:microservice:auth:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/auth/.gitlab-ci.yml
    strategy: depend

backend:microservice:cards:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/cards/.gitlab-ci.yml
    strategy: depend

backend:microservice:chatbot:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/chatbot/.gitlab-ci.yml
    strategy: depend

backend:microservice:clocking:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/clocking/.gitlab-ci.yml
    strategy: depend

backend:microservice:contact-us:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/contact-us/.gitlab-ci.yml
    strategy: depend

backend:microservice:contacts:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/contacts/.gitlab-ci.yml
    strategy: depend

backend:microservice:features:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/features/.gitlab-ci.yml
    strategy: depend

backend:microservice:important-news:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/important-news/.gitlab-ci.yml
    strategy: depend

backend:microservice:mail-calendar:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/mail-calendar/.gitlab-ci.yml
    strategy: depend

backend:microservice:map:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/map/.gitlab-ci.yml
    strategy: depend

backend:microservice:rss:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/rss/.gitlab-ci.yml
    strategy: depend

Hotfix: probleme nom var env pour nats contact-us
  dev/user-backend-nest/main/src/config/microservice-contact-us.config.ts
Due: check-nodejs-version, backend:main

Mise à jour de la version du client
  dev/user-frontend-ionic/package.json
Due: check-nodejs-version

Bugfix: MULTI-410: Fixing restaurant menus vertical scroll
  dev/user-frontend-ionic/projects/restaurants/src/lib/restaurant-menus-page/restaurant-menus.page.html
  dev/user-frontend-ionic/projects/restaurants/src/lib/restaurant-menus-page/restaurant-menus.page.scss
  dev/user-frontend-ionic/projects/restaurants/src/lib/restaurant-menus-page/restaurant-menus.page.ts
Due: check-nodejs-version

Fix lint errors
  dev/user-backend-nest/microservices/features/src/features/features-position.helper.spec.ts
  dev/user-frontend-ionic/projects/auth/src/lib/widget/not-authentified/not-authentified.component.ts
Due: check-nodejs-version, backend:microservice:features

Bugfix: MULTI-396 Message hors connexion sur le Huawei
  dev/user-frontend-ionic/projects/shared/src/lib/network/network.service.ts
Due: check-nodejs-version

Bugfix: MULTI-409: Fixing drag n drop 1: when double click on external service
  dev/user-frontend-ionic/projects/features/src/lib/pages/services/services.page.ts
Due: check-nodejs-version

Update Directus data and structure files
  env/local/docker/directus/directus/data/channels 20231003-82026.json
  env/local/docker/directus/directus/data/features 20230609-144920.json
  env/local/docker/directus/directus/data/features 20231003-857.json
  env/local/docker/directus/directus/data/important_news 20230412-132038.json
  env/local/docker/directus/directus/data/important_news 20231003-81514.json
  env/local/docker/directus/directus/data/pages 20230608-161059.json
  env/local/docker/directus/directus/data/pages 20231003-865.json
  env/local/docker/directus/directus/data/social_networks 20231003-81933.json
  env/local/docker/directus/directus/data/widgets 20231003-82116.json
  env/local/docker/directus/directus/snapshot/snapshot.yaml
Due: none

Update endpoint urls stack UL
  dev/user-frontend-ionic/src/environments/environment.ul-development.ts
  dev/user-frontend-ionic/src/environments/environment.ul-pwa-development.ts
  dev/user-frontend-ionic/src/environments/environment.ul-pwa-preprod.ts
  dev/user-frontend-ionic/src/environments/environment.ul-pwa-prod.ts
  dev/user-frontend-ionic/trapeze-ul.dev.yml
Due: check-nodejs-version, frontend

Bugfix: (UL) MULTI-1866 problème des mails non lus sur Huawei
  dev/user-frontend-ionic/projects/rss/src/lib/widgets/latest-news/latest-news.component.ts
  dev/user-frontend-ionic/projects/unread-mail/src/lib/unread-mail.service.ts
Due: check-nodejs-version

Bugfix: (UL) MULTI-2151 Texte qui s'affiche en noir sur noir pour le current day de l'EDT
  dev/user-frontend-ionic/projects/schedule/src/lib/schedule-calendar/calendar-event/calendar-event.component.scss
Due: check-nodejs-version

Bugfix: (UL) MULTI-2353 Suppression des groupes dans les cours à venir en page des widgets
  dev/user-frontend-ionic/projects/schedule/src/lib/widgets/next-events/next-events.component.html
Due: check-nodejs-version

Bugfix: (UL) MULTI-2316 Problème d'affichage Chatbot sur message trop long
  dev/user-frontend-ionic/projects/chatbot/src/lib/chatbot.page.html
Due: check-nodejs-version

Bugfix: (UL) MULTI-2344 Correction affichage bouton suite MAJ ionic
  dev/user-frontend-ionic/src/theme/app-theme-variables.scss
  dev/user-frontend-ionic/src/theme/components/button.scss
Due: check-nodejs-version, frontend

Bugfix: (UL) MULTI-1604 Recherche dans l'annuaire non possible en anonyme
  dev/user-backend-nest/main/src/app.controller.ts
  dev/user-frontend-ionic/projects/contacts/src/lib/contacts.service.ts
Due: check-nodejs-version, backend:main

Bugfix: (UL) MULTI-2088 Affichage contenu d'une notification dans les options
  dev/user-frontend-ionic/projects/contacts/src/lib/contacts.service.ts
  dev/user-frontend-ionic/projects/notifications/src/lib/notification-options/notification-options.component.html
Due: check-nodejs-version

Bugfix: (UL) MULTI-2346 Toggles rognés dans le choix des canaux notif
  dev/user-frontend-ionic/projects/notifications/src/lib/settings/settings.page.html
Due: check-nodejs-version

Bugfix: (UL) SVG non pris en compte dans le menu burger
  dev/user-frontend-ionic/projects/menu/src/lib/burger-menu/burger-menu.page.html
  dev/user-frontend-ionic/projects/menu/src/lib/burger-menu/burger-menu.page.scss
Due: check-nodejs-version

Bugfix: (UL) MULTI-2366 Cohérence des icônes pour l'item login/logout dans le menu
  dev/user-frontend-ionic/projects/auth/src/lib/widget/auth/auth.component.html
  dev/user-frontend-ionic/src/assets/icon/features/deconnect.svg
  dev/user-frontend-ionic/src/assets/icon/features/login.svg
  dev/user-frontend-ionic/src/assets/icon/features/logout.svg
Due: check-nodejs-version, frontend

Bugfix: MULTI-317 problème de luminosité sur les cartes Staff
  dev/user-frontend-ionic/projects/cards/src/lib/cards.page.ts
Due: check-nodejs-version

Bugfix: MULTI-411: fixing edt button
  dev/user-frontend-ionic/projects/schedule/src/lib/common/event-detail/event-detail.component.html
Due: check-nodejs-version

Update iOs Info.plist
  dev/user-frontend-ionic/ios/App/App/Info.plist
Due: check-nodejs-version

Mise en place cache Redis pour le partage entre instances d'un µs
  dev/user-backend-nest/microservices/clocking/README.md
  dev/user-backend-nest/microservices/clocking/package-lock.json
  dev/user-backend-nest/microservices/clocking/package.json
  dev/user-backend-nest/microservices/clocking/src/clocking/clocking.module.ts
  dev/user-backend-nest/microservices/clocking/src/config/configuration.interface.ts
  dev/user-backend-nest/microservices/clocking/src/config/configuration.ts
  dev/user-backend-nest/microservices/mail-calendar/README.md
  dev/user-backend-nest/microservices/mail-calendar/package-lock.json
  dev/user-backend-nest/microservices/mail-calendar/package.json
  dev/user-backend-nest/microservices/mail-calendar/src/config/configuration.interface.ts
  dev/user-backend-nest/microservices/mail-calendar/src/config/configuration.ts
  dev/user-backend-nest/microservices/mail-calendar/src/mail-calendar/mail-calendar.module.ts
  dev/user-backend-nest/microservices/schedule/README.md
  dev/user-backend-nest/microservices/schedule/package-lock.json
  dev/user-backend-nest/microservices/schedule/package.json
  dev/user-backend-nest/microservices/schedule/src/config/configuration.interface.ts
  dev/user-backend-nest/microservices/schedule/src/config/configuration.ts
  dev/user-backend-nest/microservices/schedule/src/schedule/schedule.module.ts
  env/local/docker/redis/docker-compose.yml
Due: check-nodejs-version, backend:microservice:clocking, backend:microservice:mail-calendar, backend:microservice:schedule

Hotfix: correction accent dans description Info.plist
  dev/user-frontend-ionic/ios/App/App/Info.plist
Due: check-nodejs-version

Feat : (UL) MULTI-2363 add matomo analytics
  dev/user-frontend-ionic/package-lock.json
  dev/user-frontend-ionic/package.json
  dev/user-frontend-ionic/src/app/app.module.ts
Due: check-nodejs-version, frontend

Bugfix: MULTI-408: Refresh app after inactive
  dev/user-frontend-ionic/projects/shared/src/lib/navigation/navigation.service.ts
Due: check-nodejs-version

Check and fix vulnerabilities
  dev/user-frontend-ionic/package-lock.json
  dev/user-frontend-ionic/package.json
Due: check-nodejs-version

Bugfix: MULTI-406: Fixing notification badge on iOS
  dev/user-frontend-ionic/android/app/capacitor.build.gradle
  dev/user-frontend-ionic/android/capacitor.settings.gradle
  dev/user-frontend-ionic/ios/App/Podfile
  dev/user-frontend-ionic/ios/App/Podfile.lock
  dev/user-frontend-ionic/package-lock.json
  dev/user-frontend-ionic/package.json
  dev/user-frontend-ionic/projects/shared/src/lib/notifications/notifications.service.ts
  dev/user-frontend-ionic/src/app/app.component.ts
Due: check-nodejs-version, frontend

Bugfix : (UL) MULTI-2532 Correction coquilles dans le tour guidé
  dev/user-frontend-ionic/src/assets/guided-tour/logged-guided-tour-step-100.png
  dev/user-frontend-ionic/src/assets/guided-tour/logged-guided-tour-step-20.png
  dev/user-frontend-ionic/src/assets/guided-tour/logged-guided-tour-step-30.png
  dev/user-frontend-ionic/src/assets/guided-tour/logged-guided-tour-step-60.png
  dev/user-frontend-ionic/src/assets/guided-tour/logged-guided-tour-step-80.png
  dev/user-frontend-ionic/src/assets/guided-tour/logged-guided-tour-step-90.png
  dev/user-frontend-ionic/src/assets/i18n/fr.json
Due: check-nodejs-version, frontend

Bugfix: MULTI-414: Fixing reauth when db has been cleaned up
  dev/user-backend-nest/microservices/auth/src/keep-auth/keep-auth.service.ts
  dev/user-frontend-ionic/projects/shared/src/lib/auth/auth.interceptor.ts
  dev/user-frontend-ionic/projects/shared/src/lib/auth/keep-auth.service.ts
  dev/user-frontend-ionic/projects/shared/src/lib/navigation/navigation.service.ts
Due: check-nodejs-version, backend:microservice:auth

Add debug logs in Auth Microservice
  dev/user-backend-nest/microservices/auth/src/auth/authenticated-user/authenticated-user.repository.ts
  dev/user-backend-nest/microservices/auth/src/keep-auth/keep-auth.service.ts
  dev/user-frontend-ionic/.gitlab-ci.yml
  dev/user-frontend-ionic/android/app/build.gradle
  dev/user-frontend-ionic/android/app/src/main/AndroidManifest.xml
  dev/user-frontend-ionic/android/app/src/main/java/fr/univlorraine/mobile/multitest/MainActivity.java
  dev/user-frontend-ionic/android/app/src/main/res/values/strings.xml
  dev/user-frontend-ionic/capacitor.config.ts
  dev/user-frontend-ionic/ios/App/App.xcodeproj/project.pbxproj
  dev/user-frontend-ionic/package.json
  dev/user-frontend-ionic/projects/shared/src/lib/infos/infos.json
Due: check-nodejs-version, backend:microservice:auth

Add debug logs in MS Auth
  dev/user-backend-nest/microservices/auth/src/auth/authenticated-user/authenticated-user.repository.ts
  dev/user-backend-nest/microservices/auth/src/keep-auth/keep-auth.service.ts
Due: check-nodejs-version, backend:microservice:auth

Update UL PWA version
  dev/user-frontend-ionic/package.json
Due: check-nodejs-version

Bugfix: MULTI-414: Fixing reauth when db has been cleaned up: no redirect
  dev/user-frontend-ionic/projects/shared/src/lib/auth/auth.interceptor.ts
  dev/user-frontend-ionic/projects/shared/src/lib/auth/keep-auth.service.ts
  dev/user-frontend-ionic/projects/shared/src/lib/navigation/navigation.service.ts
Due: check-nodejs-version

Bugfix: MULTI-414: Fixing reauth when db has been cleaned up: no redirect
  dev/user-frontend-ionic/projects/shared/src/lib/auth/keep-auth.service.ts
Due: check-nodejs-version

Bugfix: MULTI-414: Fixing reauth when db has been cleaned up: no redirect
  dev/user-frontend-ionic/projects/shared/src/lib/navigation/navigation.service.ts
Due: check-nodejs-version

Bugfix: MULTI-414: Fixing reauth when db has been cleaned up: no redirect
  dev/user-frontend-ionic/projects/shared/src/lib/auth/auth.interceptor.ts
  dev/user-frontend-ionic/projects/shared/src/lib/navigation/navigation.service.ts
Due: check-nodejs-version

Path conditions:
  check-nodejs-version: any of: dev/user-backend-nest/main/**/*, dev/user-backend-nest/microservices/**/*, dev/user-frontend-ionic/**/*
  backend:main: any of: dev/user-backend-nest/main/**/*
  backend:microservice:auth: any of: dev/user-backend-nest/microservices/auth/**/*
  backend:microservice:cards: any of: dev/user-backend-nest/microservices/cards/**/*
  backend:microservice:chatbot: any of: dev/user-backend-nest/microservices/chatbot/**/*
  backend:microservice:clocking: any of: dev/user-backend-nest/microservices/clocking/**/*
  backend:microservice:contact-us: any of: dev/user-backend-nest/microservices/contact-us/**/*
  backend:microservice:contacts: any of: dev/user-backend-nest/microservices/contacts/**/*
  backend:microservice:features: any of: dev/user-backend-nest/microservices/features/**/*
  backend:microservice:important-news: any of: dev/user-backend-nest/microservices/important-news/**/*
  backend:microservice:mail-calendar: any of: dev/user-backend-nest/microservices/mail-calendar/**/*
  backend:microservice:map: any of: dev/user-backend-nest/microservices/map/**/*
  backend:microservice:notifications: any of: dev/user-backend-nest/microservices/notifications/**/*
  backend:microservice:restaurants: any of: dev/user-backend-nest/microservices/restaurants/**/*
  backend:microservice:rss: any of: dev/user-backend-nest/microservices/rss/**/*
  backend:microservice:schedule: any of: dev/user-backend-nest/microservices/schedule/**/*
  backend:microservice:social-network: any of: dev/user-backend-nest/microservices/social-network/**/*
  backend:microservice:static-pages: any of: dev/user-backend-nest/microservices/static-pages/**/*
  backend:microservice:statistics: any of: dev/user-backend-nest/microservices/statistics/**/*
  frontend: any of: dev/user-frontend-ionic/src/**/*, dev/user-frontend-ionic/project/**/*
