Repository univlorraine/esup-multi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-nodejs-version, backend:main, backend:microservice:auth, backend:microservice:cards, backend:microservice:chatbot, backend:microservice:clocking, backend:microservice:contact-us, backend:microservice:contacts, backend:microservice:features, backend:microservice:important-news, backend:microservice:mail-calendar, backend:microservice:map, backend:microservice:notifications, backend:microservice:restaurants, backend:microservice:rss, backend:microservice:schedule, backend:microservice:social-network, backend:microservice:static-pages, backend:microservice:statistics, frontend

check-nodejs-version:
  stage: .pre
  script:
  - "if [[ -z \"$(cat ${BACKEND_PATH}/.nvmrc)\" ]]; then\n  echo \"NODE_VERSION=lts\" > vars.env # si le fichier .nvmrc est vide ou n'existe pas on utilise la version LTS de Node\nelse\n  echo \"NODE_VERSION=$(cat ${BACKEND_PATH}/.nvmrc)\" > vars.env\nfi\n"
  - less vars.env
  ...

backend:main:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/main/.gitlab-ci.yml
    strategy: depend

backend:microservice:auth:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/auth/.gitlab-ci.yml
    strategy: depend

backend:microservice:cards:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/cards/.gitlab-ci.yml
    strategy: depend

backend:microservice:chatbot:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/chatbot/.gitlab-ci.yml
    strategy: depend

backend:microservice:clocking:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/clocking/.gitlab-ci.yml
    strategy: depend

backend:microservice:contact-us:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/contact-us/.gitlab-ci.yml
    strategy: depend

backend:microservice:contacts:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/contacts/.gitlab-ci.yml
    strategy: depend

backend:microservice:features:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/features/.gitlab-ci.yml
    strategy: depend

backend:microservice:important-news:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/important-news/.gitlab-ci.yml
    strategy: depend

backend:microservice:mail-calendar:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/mail-calendar/.gitlab-ci.yml
    strategy: depend

backend:microservice:map:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/map/.gitlab-ci.yml
    strategy: depend

backend:microservice:rss:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/rss/.gitlab-ci.yml
    strategy: depend

Update client version number
  dev/user-frontend-ionic/projects/shared/src/lib/infos/infos.json
Due: check-nodejs-version

Bugfix: MULTI-416: fixing notifications on mobile devices
  dev/user-frontend-ionic/projects/shared/src/lib/notifications/notifications.service.ts
Due: check-nodejs-version

Bugfix: (UL) MULTI-2907 Afficher un lien 'En savoir plus' dans les notifications si url présente
  dev/user-frontend-ionic/projects/notifications/assets/i18n/en.json
  dev/user-frontend-ionic/projects/notifications/assets/i18n/fr.json
  dev/user-frontend-ionic/projects/notifications/src/lib/notifications.page.html
  dev/user-frontend-ionic/projects/notifications/src/lib/notifications.page.ts
  dev/user-frontend-ionic/projects/shared/src/lib/notifications/notifications.repository.ts
Due: check-nodejs-version

Bugfix : (UL) MULTI-2571 - Décalage des entrées Directus dans le menu burger
  dev/user-frontend-ionic/projects/auth/src/lib/widget/auth/auth.component.html
  dev/user-frontend-ionic/projects/auth/src/lib/widget/auth/auth.component.scss
  dev/user-frontend-ionic/projects/contact-us/src/lib/widgets/contact-us-menu-item/contact-us-menu-item.component.html
  dev/user-frontend-ionic/projects/contact-us/src/lib/widgets/contact-us-menu-item/contact-us-menu-item.component.scss
  dev/user-frontend-ionic/projects/menu/src/lib/burger-menu/burger-menu.page.html
  dev/user-frontend-ionic/projects/menu/src/lib/burger-menu/burger-menu.page.scss
  dev/user-frontend-ionic/projects/static-pages/src/lib/widgets/static-pages-widget/static-pages-widget.component.html
  dev/user-frontend-ionic/projects/static-pages/src/lib/widgets/static-pages-widget/static-pages-widget.component.scss
  dev/user-frontend-ionic/src/theme/app-theme-variables.scss
  dev/user-frontend-ionic/src/theme/components/button.scss
Due: check-nodejs-version, frontend

Bugfix : (UL) MULTI-2577 - Amélioration affichage widget tops agatte
  dev/user-frontend-ionic/projects/clocking/assets/i18n/en.json
  dev/user-frontend-ionic/projects/clocking/assets/i18n/fr.json
  dev/user-frontend-ionic/projects/clocking/src/lib/widgets/clocking/clocking.component.html
  dev/user-frontend-ionic/projects/clocking/src/lib/widgets/clocking/clocking.component.scss
  dev/user-frontend-ionic/projects/notifications/src/lib/notifications.page.ts
Due: check-nodejs-version

Modification CI UL
  .gitlab-ci.yml
Due: none

Bugfix : (UL) MULTI-3061 - Ajout pointeur sur boutons service
  dev/user-frontend-ionic/projects/features/src/lib/pages/services/service/service.component.scss
Due: check-nodejs-version

Bugfix: (UL) MULTI-2733 - Adaptation de la couleur des liens en dark mode sur la pages statiques
  dev/user-frontend-ionic/projects/static-pages/src/lib/static-page/static-page.component.html
Due: check-nodejs-version

Bugfix : (UL) MULTI-2507 - traitement du cas d'un utilisateur sans boite mail
  dev/user-backend-nest/microservices/mail-calendar/src/mail-calendar/mail-calendar.dto.ts
  dev/user-backend-nest/microservices/mail-calendar/src/mail-calendar/mail-calendar.service.ts
  dev/user-frontend-ionic/projects/calendar/src/lib/widget/calendar/calendar.component.html
  dev/user-frontend-ionic/projects/unread-mail/assets/i18n/en.json
  dev/user-frontend-ionic/projects/unread-mail/assets/i18n/fr.json
  dev/user-frontend-ionic/projects/unread-mail/src/lib/unread-mail.repository.ts
  dev/user-frontend-ionic/projects/unread-mail/src/lib/widget/unread-mail/unread-mail.component.html
Due: check-nodejs-version, backend:microservice:mail-calendar

Bugfix : (UL) MULTI-2352 Design boutons radio sur iOS
  dev/user-frontend-ionic/projects/contacts/src/lib/contacts.page.html
Due: check-nodejs-version

Bugfix : (UL) MULTI-2352 revue affichage de la recherche dans l'annuaire
  dev/user-frontend-ionic/projects/contacts/src/lib/contacts.page.html
  dev/user-frontend-ionic/projects/contacts/src/lib/contacts.page.scss
  dev/user-frontend-ionic/projects/contacts/src/lib/contacts.page.ts
  dev/user-frontend-ionic/src/theme/fonts/fonts.scss
Due: check-nodejs-version, frontend

Bugfix: (UL) MULTI-1945 accessibilite image non ignoree
  dev/user-frontend-ionic/src/app/page-layouts/tabs-layout/tabs-layout.page.html
Due: check-nodejs-version, frontend

Bugfix: (UL) MULTI-2602 filtrage des notifications
  dev/user-frontend-ionic/projects/notifications/src/lib/notifications.page.html
Due: check-nodejs-version

Bugfix: UL/MULTI-415 chargement plannings vides
  dev/user-frontend-ionic/projects/schedule/assets/i18n/en.json
  dev/user-frontend-ionic/projects/schedule/assets/i18n/fr.json
  dev/user-frontend-ionic/projects/schedule/src/lib/common/select-planning/select-planning.component.html
  dev/user-frontend-ionic/projects/schedule/src/lib/common/select-planning/select-planning.component.ts
  dev/user-frontend-ionic/projects/schedule/src/lib/schedule-calendar/schedule-calendar.component.ts
  dev/user-frontend-ionic/projects/schedule/src/lib/schedule.effects.ts
  dev/user-frontend-ionic/projects/schedule/src/lib/schedule.module.ts
  dev/user-frontend-ionic/projects/schedule/src/lib/schedule.repository.ts
  dev/user-frontend-ionic/projects/schedule/src/lib/schedule.service.ts
Due: check-nodejs-version

Bump first major version of entire project
  CHANGELOG.md
  dev/user-backend-nest/main/package.json
  dev/user-backend-nest/main/src/infos.json
  dev/user-backend-nest/microservices/auth/package.json
  dev/user-backend-nest/microservices/auth/src/infos.json
  dev/user-backend-nest/microservices/cards/package.json
  dev/user-backend-nest/microservices/cards/src/infos.json
  dev/user-backend-nest/microservices/chatbot/package.json
  dev/user-backend-nest/microservices/chatbot/src/infos.json
  dev/user-backend-nest/microservices/clocking/package.json
  dev/user-backend-nest/microservices/clocking/src/infos.json
  dev/user-backend-nest/microservices/contact-us/package.json
  dev/user-backend-nest/microservices/contact-us/src/infos.json
  dev/user-backend-nest/microservices/contacts/package.json
  dev/user-backend-nest/microservices/contacts/src/infos.json
  dev/user-backend-nest/microservices/features/package.json
  dev/user-backend-nest/microservices/features/src/infos.json
  dev/user-backend-nest/microservices/important-news/package.json
  dev/user-backend-nest/microservices/important-news/src/infos.json
  dev/user-backend-nest/microservices/mail-calendar/package.json
  dev/user-backend-nest/microservices/mail-calendar/src/infos.json
  dev/user-backend-nest/microservices/map/package.json
  dev/user-backend-nest/microservices/map/src/infos.json
  dev/user-backend-nest/microservices/notifications/package.json
  dev/user-backend-nest/microservices/notifications/src/infos.json
  dev/user-backend-nest/microservices/restaurants/package.json
  dev/user-backend-nest/microservices/restaurants/src/infos.json
  dev/user-backend-nest/microservices/rss/package.json
  dev/user-backend-nest/microservices/rss/src/infos.json
  dev/user-backend-nest/microservices/schedule/package.json
  dev/user-backend-nest/microservices/schedule/src/infos.json
  dev/user-backend-nest/microservices/social-network/package.json
  dev/user-backend-nest/microservices/social-network/src/infos.json
  dev/user-backend-nest/microservices/static-pages/package.json
  dev/user-backend-nest/microservices/static-pages/src/infos.json
  dev/user-backend-nest/microservices/statistics/package.json
  dev/user-backend-nest/microservices/statistics/src/infos.json
  dev/user-frontend-ionic/package.json
  dev/user-frontend-ionic/projects/shared/src/lib/infos/infos.json
Due: check-nodejs-version, backend:main, backend:microservice:auth, backend:microservice:cards, backend:microservice:chatbot, backend:microservice:clocking, backend:microservice:contact-us, backend:microservice:contacts, backend:microservice:features, backend:microservice:important-news, backend:microservice:mail-calendar, backend:microservice:map, backend:microservice:notifications, backend:microservice:restaurants, backend:microservice:rss, backend:microservice:schedule, backend:microservice:social-network, backend:microservice:static-pages, backend:microservice:statistics

fix(notifications): just allow platforms iOS | Android | web for notification tokens
  dev/user-frontend-ionic/projects/shared/src/lib/notifications/notifications.service.ts
Due: check-nodejs-version

Bugfix: (UL) MULTI-2533 message intempestif hors reseau
  dev/user-frontend-ionic/projects/shared/src/lib/notifications/notifications.service.ts
  dev/user-frontend-ionic/src/app/page-layouts/tabs-layout/tabs-layout.page.html
  dev/user-frontend-ionic/src/app/page-layouts/tabs-layout/tabs-layout.page.ts
Due: check-nodejs-version, frontend

ci: bump version 1.0.2
  CHANGELOG.md
  dev/user-backend-nest/main/package.json
  dev/user-backend-nest/microservices/auth/package.json
  dev/user-backend-nest/microservices/cards/package.json
  dev/user-backend-nest/microservices/chatbot/package.json
  dev/user-backend-nest/microservices/clocking/package.json
  dev/user-backend-nest/microservices/contact-us/package.json
  dev/user-backend-nest/microservices/contacts/package.json
  dev/user-backend-nest/microservices/features/package.json
  dev/user-backend-nest/microservices/important-news/package.json
  dev/user-backend-nest/microservices/mail-calendar/package.json
  dev/user-backend-nest/microservices/map/package.json
  dev/user-backend-nest/microservices/notifications/package.json
  dev/user-backend-nest/microservices/restaurants/package.json
  dev/user-backend-nest/microservices/rss/package.json
  dev/user-backend-nest/microservices/schedule/package.json
  dev/user-backend-nest/microservices/social-network/package.json
  dev/user-backend-nest/microservices/static-pages/package.json
  dev/user-backend-nest/microservices/statistics/package.json
  dev/user-frontend-ionic/package.json
Due: check-nodejs-version, backend:main, backend:microservice:auth, backend:microservice:cards, backend:microservice:chatbot, backend:microservice:clocking, backend:microservice:contact-us, backend:microservice:contacts, backend:microservice:features, backend:microservice:important-news, backend:microservice:mail-calendar, backend:microservice:map, backend:microservice:notifications, backend:microservice:restaurants, backend:microservice:rss, backend:microservice:schedule, backend:microservice:social-network, backend:microservice:static-pages, backend:microservice:statistics

refactor(@multi-frontend/theme): adding a default theme
  dev/user-frontend-ionic/.gitignore
  dev/user-frontend-ionic/angular.json
  dev/user-frontend-ionic/src/global.scss
  dev/user-frontend-ionic/src/theme/default/app-theme-variables.scss
  dev/user-frontend-ionic/src/theme/default/components/button.scss
  dev/user-frontend-ionic/src/theme/default/components/header.scss
  dev/user-frontend-ionic/src/theme/default/external-ui-library/fullcalendar/fullcalendar.scss
  dev/user-frontend-ionic/src/theme/default/external-ui-library/leaflet/leaflet.scss
  dev/user-frontend-ionic/src/theme/default/external-ui-library/shepherd/shepherd.scss
  dev/user-frontend-ionic/src/theme/default/fonts/fonts.scss
  dev/user-frontend-ionic/src/theme/default/icons/icons.scss
  dev/user-frontend-ionic/src/theme/default/logos/logos.scss
  dev/user-frontend-ionic/src/theme/default/variables.scss
  dev/user-frontend-ionic/src/theme/theme.scss.dist
Due: check-nodejs-version, frontend

First commit
  README.md
Due: none

Bugfix: (UL) MULTI-1946 accessibilite icones services
  dev/user-frontend-ionic/projects/features/src/lib/pages/services/service/service.component.html
Due: check-nodejs-version

Bugfix: (UL) MULTI-3402 accessibilite attribut lang html
  dev/user-frontend-ionic/src/app/app.component.ts
Due: check-nodejs-version, frontend

Bugfix: (UL) Refresh de la pastille cloche au retour au 1er plan de l'app
  dev/user-frontend-ionic/src/app/app.component.ts
  dev/user-frontend-ionic/src/app/layout/layout.page.ts
Due: check-nodejs-version, frontend

security(auth): fix security vulnerabilities in dependencies
  dev/user-backend-nest/microservices/auth/package-lock.json
  dev/user-backend-nest/microservices/auth/package.json
Due: check-nodejs-version, backend:microservice:auth

security(cards): fix security vulnerabilities in dependencies
  dev/user-backend-nest/microservices/cards/package-lock.json
  dev/user-backend-nest/microservices/cards/package.json
Due: check-nodejs-version, backend:microservice:cards

security(chatbot): fix security vulnerabilities in dependencies
  dev/user-backend-nest/microservices/chatbot/package-lock.json
  dev/user-backend-nest/microservices/chatbot/package.json
Due: check-nodejs-version, backend:microservice:chatbot

security(clocking): fix security vulnerabilities in dependencies
  dev/user-backend-nest/microservices/clocking/package-lock.json
  dev/user-backend-nest/microservices/clocking/package.json
Due: check-nodejs-version, backend:microservice:clocking

security(contact-us): fix security vulnerabilities in dependencies
  dev/user-backend-nest/microservices/contact-us/package-lock.json
  dev/user-backend-nest/microservices/contact-us/package.json
Due: check-nodejs-version, backend:microservice:contact-us

security(contacts): fix security vulnerabilities in dependencies
  dev/user-backend-nest/microservices/contacts/package-lock.json
  dev/user-backend-nest/microservices/contacts/package.json
Due: check-nodejs-version, backend:microservice:contacts

security(features): fix security vulnerabilities in dependencies
  dev/user-backend-nest/microservices/features/package-lock.json
  dev/user-backend-nest/microservices/features/package.json
Due: check-nodejs-version, backend:microservice:features

security(important-news): fix security vulnerabilities in dependencies
  dev/user-backend-nest/microservices/important-news/package-lock.json
  dev/user-backend-nest/microservices/important-news/package.json
Due: check-nodejs-version, backend:microservice:important-news

security(mail-calendar): fix security vulnerabilities in dependencies
  dev/user-backend-nest/microservices/mail-calendar/package-lock.json
  dev/user-backend-nest/microservices/mail-calendar/package.json
Due: check-nodejs-version, backend:microservice:mail-calendar

security(map): fix security vulnerabilities in dependencies
  dev/user-backend-nest/microservices/map/package-lock.json
Due: check-nodejs-version, backend:microservice:map

security(notifications): fix security vulnerabilities in dependencies
  dev/user-backend-nest/microservices/notifications/package-lock.json
  dev/user-backend-nest/microservices/notifications/package.json
Due: check-nodejs-version, backend:microservice:notifications

security(restaurants): fix security vulnerabilities in dependencies
  dev/user-backend-nest/microservices/restaurants/package-lock.json
  dev/user-backend-nest/microservices/restaurants/package.json
Due: check-nodejs-version, backend:microservice:restaurants

security(rss): fix security vulnerabilities in dependencies
  dev/user-backend-nest/microservices/rss/package-lock.json
  dev/user-backend-nest/microservices/rss/package.json
Due: check-nodejs-version, backend:microservice:rss

Path conditions:
  check-nodejs-version: any of: dev/user-backend-nest/main/**/*, dev/user-backend-nest/microservices/**/*, dev/user-frontend-ionic/**/*
  backend:main: any of: dev/user-backend-nest/main/**/*
  backend:microservice:auth: any of: dev/user-backend-nest/microservices/auth/**/*
  backend:microservice:cards: any of: dev/user-backend-nest/microservices/cards/**/*
  backend:microservice:chatbot: any of: dev/user-backend-nest/microservices/chatbot/**/*
  backend:microservice:clocking: any of: dev/user-backend-nest/microservices/clocking/**/*
  backend:microservice:contact-us: any of: dev/user-backend-nest/microservices/contact-us/**/*
  backend:microservice:contacts: any of: dev/user-backend-nest/microservices/contacts/**/*
  backend:microservice:features: any of: dev/user-backend-nest/microservices/features/**/*
  backend:microservice:important-news: any of: dev/user-backend-nest/microservices/important-news/**/*
  backend:microservice:mail-calendar: any of: dev/user-backend-nest/microservices/mail-calendar/**/*
  backend:microservice:map: any of: dev/user-backend-nest/microservices/map/**/*
  backend:microservice:notifications: any of: dev/user-backend-nest/microservices/notifications/**/*
  backend:microservice:restaurants: any of: dev/user-backend-nest/microservices/restaurants/**/*
  backend:microservice:rss: any of: dev/user-backend-nest/microservices/rss/**/*
  backend:microservice:schedule: any of: dev/user-backend-nest/microservices/schedule/**/*
  backend:microservice:social-network: any of: dev/user-backend-nest/microservices/social-network/**/*
  backend:microservice:static-pages: any of: dev/user-backend-nest/microservices/static-pages/**/*
  backend:microservice:statistics: any of: dev/user-backend-nest/microservices/statistics/**/*
  frontend: any of: dev/user-frontend-ionic/src/**/*, dev/user-frontend-ionic/project/**/*
