Repository univlorraine/esup-multi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-nodejs-version, backend:main, backend:microservice:auth, backend:microservice:cards, backend:microservice:chatbot, backend:microservice:clocking, backend:microservice:contact-us, backend:microservice:contacts, backend:microservice:features, backend:microservice:important-news, backend:microservice:mail-calendar, backend:microservice:map, backend:microservice:notifications, backend:microservice:restaurants, backend:microservice:rss, backend:microservice:schedule, backend:microservice:social-network, backend:microservice:static-pages, backend:microservice:statistics, frontend

check-nodejs-version:
  stage: .pre
  script:
  - "if [[ -z \"$(cat ${BACKEND_PATH}/.nvmrc)\" ]]; then\n  echo \"NODE_VERSION=lts\" > vars.env # si le fichier .nvmrc est vide ou n'existe pas on utilise la version LTS de Node\nelse\n  echo \"NODE_VERSION=$(cat ${BACKEND_PATH}/.nvmrc)\" > vars.env\nfi\n"
  - less vars.env
  ...

backend:main:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/main/.gitlab-ci.yml
    strategy: depend

backend:microservice:auth:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/auth/.gitlab-ci.yml
    strategy: depend

backend:microservice:cards:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/cards/.gitlab-ci.yml
    strategy: depend

backend:microservice:chatbot:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/chatbot/.gitlab-ci.yml
    strategy: depend

backend:microservice:clocking:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/clocking/.gitlab-ci.yml
    strategy: depend

backend:microservice:contact-us:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/contact-us/.gitlab-ci.yml
    strategy: depend

backend:microservice:contacts:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/contacts/.gitlab-ci.yml
    strategy: depend

backend:microservice:features:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/features/.gitlab-ci.yml
    strategy: depend

backend:microservice:important-news:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/important-news/.gitlab-ci.yml
    strategy: depend

backend:microservice:mail-calendar:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/mail-calendar/.gitlab-ci.yml
    strategy: depend

backend:microservice:map:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/map/.gitlab-ci.yml
    strategy: depend

backend:microservice:rss:
  stage: packages
  needs:
  - check-nodejs-version
  variables:
    NODE_VERSION: $NODE_VERSION
  trigger:
    include: ${BACKEND_PATH}/microservices/rss/.gitlab-ci.yml
    strategy: depend

security(schedule): fix security vulnerabilities in dependencies
  dev/user-backend-nest/microservices/schedule/package-lock.json
  dev/user-backend-nest/microservices/schedule/package.json
Due: check-nodejs-version, backend:microservice:schedule

security(social): fix security vulnerabilities in dependencies
  dev/user-backend-nest/microservices/social-network/package-lock.json
  dev/user-backend-nest/microservices/social-network/package.json
Due: check-nodejs-version, backend:microservice:social-network

security(static): fix security vulnerabilities in dependencies
  dev/user-backend-nest/microservices/static-pages/package-lock.json
  dev/user-backend-nest/microservices/static-pages/package.json
Due: check-nodejs-version, backend:microservice:static-pages

security(statistics): fix security vulnerabilities in dependencies
  dev/user-backend-nest/microservices/statistics/package-lock.json
  dev/user-backend-nest/microservices/statistics/package.json
Due: check-nodejs-version, backend:microservice:statistics

refactor: mise en place capacitor.config.ts.dist pour la diffusion
  dev/user-frontend-ionic/.gitignore
  dev/user-frontend-ionic/capacitor.config.json
  dev/user-frontend-ionic/capacitor.config.ts
  dev/user-frontend-ionic/capacitor.config.ts.dist
  dev/user-frontend-ionic/src/environments/environment.development.ts
  dev/user-frontend-ionic/src/environments/environment.prod.ts
  dev/user-frontend-ionic/src/environments/environment.pwa-development.ts
  dev/user-frontend-ionic/src/environments/environment.ts
  dev/user-frontend-ionic/src/environments/environment.ts.dist
  dev/user-frontend-ionic/src/environments/environment.ul-pwa-preprod.ts
Due: check-nodejs-version, frontend

refactor: mise en place d'un fichier de configuration trapeze-config.yml.dist pour la diffusion
  dev/user-frontend-ionic/trapeze-config.dev.yml
  dev/user-frontend-ionic/trapeze-config.prod.yml
  dev/user-frontend-ionic/trapeze-config.yml.dist
  dev/user-frontend-ionic/trapeze-ul.dev.yml
  dev/user-frontend-ionic/trapeze-ul.preprod.yml
  dev/user-frontend-ionic/trapeze-ul.prod.yml
Due: check-nodejs-version

refactor: mise en place d'un fichier de configuration trapeze-config.yml.dist pour la diffusion
  dev/user-frontend-ionic/.gitignore
Due: check-nodejs-version

docs: initialisation de la doc
  doc/commitlint.md
Due: none

chore(release): publish v1.0.3
  CHANGELOG.md
  dev/user-backend-nest/main/package.json
  dev/user-backend-nest/microservices/auth/package.json
  dev/user-backend-nest/microservices/cards/package.json
  dev/user-backend-nest/microservices/chatbot/package.json
  dev/user-backend-nest/microservices/clocking/package.json
  dev/user-backend-nest/microservices/contact-us/package.json
  dev/user-backend-nest/microservices/contacts/package.json
  dev/user-backend-nest/microservices/features/package.json
  dev/user-backend-nest/microservices/important-news/package.json
  dev/user-backend-nest/microservices/mail-calendar/package.json
  dev/user-backend-nest/microservices/map/package.json
  dev/user-backend-nest/microservices/notifications/package.json
  dev/user-backend-nest/microservices/restaurants/package.json
  dev/user-backend-nest/microservices/rss/package.json
  dev/user-backend-nest/microservices/schedule/package.json
  dev/user-backend-nest/microservices/social-network/package.json
  dev/user-backend-nest/microservices/static-pages/package.json
  dev/user-backend-nest/microservices/statistics/package.json
  dev/user-frontend-ionic/package.json
  package.json
Due: check-nodejs-version, backend:main, backend:microservice:auth, backend:microservice:cards, backend:microservice:chatbot, backend:microservice:clocking, backend:microservice:contact-us, backend:microservice:contacts, backend:microservice:features, backend:microservice:important-news, backend:microservice:mail-calendar, backend:microservice:map, backend:microservice:notifications, backend:microservice:restaurants, backend:microservice:rss, backend:microservice:schedule, backend:microservice:social-network, backend:microservice:static-pages, backend:microservice:statistics

build: suppression du script prepare pour husky qui pose problème dans la CI
  package.json
Due: none

build(android): ajout du support de la tablette sur Android
  dev/user-frontend-ionic/android/app/src/main/AndroidManifest.xml
Due: check-nodejs-version

refactor: mise en place d'un fichier de configuration angular.json.dist pour la diffusion
  dev/user-frontend-ionic/.gitignore
  dev/user-frontend-ionic/angular.json.dist
Due: check-nodejs-version

fix((@multi-frontend/notifications)): dssfsdf
  CHANGELOG.md
Due: none

Ajout des logos au README
  README.md
  doc/logo-esupportail.png
  doc/logo-france-relance.png
  doc/logo-mesri.jpg
Due: none

Fix taille de logo
  doc/logo-mesri.jpg
Due: none

Update README.md
  README.md
Due: none

build: ajout scripts npm installation et démarrage
  package-lock.json
  package.json
Due: none

docs: mise a jour liste libs
  generateLibraryList.bash
  libraries.md
Due: none

build: npm scripts not for production
  package-lock.json
  package.json
Due: none

fix(@multi-frontend/important-news): masquage de la widget si pas d'info importante
  dev/user-frontend-ionic/angular.json.dist
  dev/user-frontend-ionic/projects/features/src/lib/pages/widgets/widget/widget-external-feature/widget-external-feature.component.html
  dev/user-frontend-ionic/projects/features/src/lib/pages/widgets/widget/widget-external-feature/widget-external-feature.component.scss
  dev/user-frontend-ionic/projects/features/src/lib/pages/widgets/widget/widget-external-feature/widget-external-feature.component.ts
  dev/user-frontend-ionic/projects/features/src/lib/pages/widgets/widget/widget-internal-feature/widget-internal-feature.component.html
  dev/user-frontend-ionic/projects/features/src/lib/pages/widgets/widget/widget-internal-feature/widget-internal-feature.component.scss
  dev/user-frontend-ionic/projects/features/src/lib/pages/widgets/widget/widget-internal-feature/widget-internal-feature.component.ts
  dev/user-frontend-ionic/projects/important-news/assets/i18n/en.json
  dev/user-frontend-ionic/projects/important-news/assets/i18n/fr.json
  dev/user-frontend-ionic/projects/important-news/src/lib/important-news.module.ts
  dev/user-frontend-ionic/projects/important-news/src/lib/widgets/important-news/important-news.component.html
  dev/user-frontend-ionic/projects/important-news/src/lib/widgets/important-news/important-news.component.ts
  dev/user-frontend-ionic/projects/shared/src/lib/components/widgets/widget.component.ts
Due: check-nodejs-version

build: ajout de scripts npm pour l'installation et le build rapide de l'ensemble du projet
  generateLibraryList.bash
  libraries.md
  package-lock.json
  package.json
Due: none

build: config directus-db chemin volume
  env/local/docker/directus/docker-compose.yml
Due: none

build: update Directus docker-compose
  env/local/docker/directus/docker-compose.yml
Due: none

ci: déplacement des fichiers gitlab-ci dans un dossier propre
  .gitlab-ci.yml
  ci-config/backend/auth.gitlab-ci.yml
  ci-config/backend/cards.gitlab-ci.yml
  ci-config/backend/chatbot.gitlab-ci.yml
  ci-config/backend/clocking.gitlab-ci.yml
  ci-config/backend/contact-us.gitlab-ci.yml
  ci-config/backend/contacts.gitlab-ci.yml
  ci-config/backend/features.gitlab-ci.yml
  ci-config/backend/important-news.gitlab-ci.yml
  ci-config/backend/mail-calendar.gitlab-ci.yml
  ci-config/backend/main.gitlab-ci.yml
  ci-config/backend/map.gitlab-ci.yml
  ci-config/backend/notifications.gitlab-ci.yml
  ci-config/backend/restaurants.gitlab-ci.yml
  ci-config/backend/rss.gitlab-ci.yml
  ci-config/backend/schedule.gitlab-ci.yml
  ci-config/backend/social-network.gitlab-ci.yml
  ci-config/backend/static-pages.gitlab-ci.yml
  ci-config/backend/statistics.gitlab-ci.yml
  ci-config/frontend/pwa-gitlab-ci.yml
Due: none

ci: déplacement fichier .gitlab-ci.yml
  ci-config/.gitlab-ci.yml
Due: none

Import de données directus + Précision de la version de MySQL et de Directus
  env/local/docker/directus/directus/data/channels 20231003-82026.json
  env/local/docker/directus/directus/data/channels.json
  env/local/docker/directus/directus/data/esup-day-37.png
  env/local/docker/directus/directus/data/features 20231003-857.json
  env/local/docker/directus/directus/data/features.json
  env/local/docker/directus/directus/data/important_news 20231003-81514.json
  env/local/docker/directus/directus/data/important_news.json
  env/local/docker/directus/directus/data/languages.json
  env/local/docker/directus/directus/data/pages 20231003-865.json
  env/local/docker/directus/directus/data/pages.json
  env/local/docker/directus/directus/data/social_networks 20231003-81933.json
  env/local/docker/directus/directus/data/social_networks.json
  env/local/docker/directus/directus/data/widgets.json
  env/local/docker/directus/directus/snapshot/snapshot.yaml
  env/local/docker/directus/docker-compose.yml
Due: none

Correction dossier volume data
  env/local/docker/directus/docker-compose.yml
Due: none

refactor: suppression des fichiers de config propres à l'UL
  ci-config/example/frontend/nginx.conf
  dev/user-backend-nest/.gitignore
  dev/user-backend-nest/Dockerfile
  dev/user-backend-nest/main/.gitlab-ci.yml
  dev/user-backend-nest/microservices/auth/.gitlab-ci.yml
  dev/user-backend-nest/microservices/cards/.gitlab-ci.yml
  dev/user-backend-nest/microservices/chatbot/.gitlab-ci.yml
  dev/user-backend-nest/microservices/clocking/.gitlab-ci.yml
  dev/user-backend-nest/microservices/contact-us/.gitlab-ci.yml
  dev/user-backend-nest/microservices/contacts/.gitlab-ci.yml
  dev/user-backend-nest/microservices/features/.gitlab-ci.yml
  dev/user-backend-nest/microservices/important-news/.gitlab-ci.yml
  dev/user-backend-nest/microservices/mail-calendar/.gitlab-ci.yml
  dev/user-backend-nest/microservices/map/.gitlab-ci.yml
  dev/user-backend-nest/microservices/notifications/.gitlab-ci.yml
  dev/user-backend-nest/microservices/restaurants/.gitlab-ci.yml
  dev/user-backend-nest/microservices/rss/.gitlab-ci.yml
  dev/user-backend-nest/microservices/schedule/.gitlab-ci.yml
  dev/user-backend-nest/microservices/social-network/.gitlab-ci.yml
  dev/user-backend-nest/microservices/static-pages/.gitlab-ci.yml
  dev/user-backend-nest/microservices/statistics/.gitlab-ci.yml
  dev/user-backend-nest/template-ci.yml
  dev/user-frontend-ionic/.gitlab-ci.yml
  dev/user-frontend-ionic/Dockerfile
  dev/user-frontend-ionic/appflow.sh
Due: check-nodejs-version, backend:main, backend:microservice:auth, backend:microservice:cards, backend:microservice:chatbot, backend:microservice:clocking, backend:microservice:contact-us, backend:microservice:contacts, backend:microservice:features, backend:microservice:important-news, backend:microservice:mail-calendar, backend:microservice:map, backend:microservice:notifications, backend:microservice:restaurants, backend:microservice:rss, backend:microservice:schedule, backend:microservice:social-network, backend:microservice:static-pages, backend:microservice:statistics

refactor: modification des chemins d'import pour l'example + déplacement config nginx
  ci-config/example/.gitlab-ci.yml
  ci-config/example/backend/auth.gitlab-ci.yml
  ci-config/example/backend/cards.gitlab-ci.yml
  ci-config/example/backend/chatbot.gitlab-ci.yml
  ci-config/example/backend/clocking.gitlab-ci.yml
  ci-config/example/backend/contact-us.gitlab-ci.yml
  ci-config/example/backend/contacts.gitlab-ci.yml
  ci-config/example/backend/features.gitlab-ci.yml
  ci-config/example/backend/important-news.gitlab-ci.yml
  ci-config/example/backend/mail-calendar.gitlab-ci.yml
  ci-config/example/backend/main.gitlab-ci.yml
  ci-config/example/backend/map.gitlab-ci.yml
  ci-config/example/backend/notifications.gitlab-ci.yml
  ci-config/example/backend/restaurants.gitlab-ci.yml
  ci-config/example/backend/rss.gitlab-ci.yml
  ci-config/example/backend/schedule.gitlab-ci.yml
  ci-config/example/backend/social-network.gitlab-ci.yml
  ci-config/example/backend/static-pages.gitlab-ci.yml
  ci-config/example/backend/statistics.gitlab-ci.yml
  ci-config/example/backend/templates-ci.yml
  ci-config/example/frontend/Dockerfile
  ci-config/example/frontend/pwa-dev.gitlab-ci.yml
  ci-config/example/frontend/pwa-preprod.gitlab-ci.yml
  ci-config/example/frontend/pwa-prod.gitlab-ci.yml
  ci-config/example/frontend/templates-ci.yml
Due: none

refactor: renommage du dossier example en gitlab-example
  .gitignore
  ci-config/gitlab-example/.gitlab-ci.yml
  ci-config/gitlab-example/backend/Dockerfile
  ci-config/gitlab-example/backend/auth.gitlab-ci.yml
  ci-config/gitlab-example/backend/cards.gitlab-ci.yml
  ci-config/gitlab-example/backend/chatbot.gitlab-ci.yml
  ci-config/gitlab-example/backend/clocking.gitlab-ci.yml
  ci-config/gitlab-example/backend/contact-us.gitlab-ci.yml
  ci-config/gitlab-example/backend/contacts.gitlab-ci.yml
  ci-config/gitlab-example/backend/features.gitlab-ci.yml
  ci-config/gitlab-example/backend/important-news.gitlab-ci.yml
  ci-config/gitlab-example/backend/mail-calendar.gitlab-ci.yml
  ci-config/gitlab-example/backend/main.gitlab-ci.yml
  ci-config/gitlab-example/backend/map.gitlab-ci.yml
  ci-config/gitlab-example/backend/notifications.gitlab-ci.yml
  ci-config/gitlab-example/backend/restaurants.gitlab-ci.yml
  ci-config/gitlab-example/backend/rss.gitlab-ci.yml
  ci-config/gitlab-example/backend/schedule.gitlab-ci.yml
  ci-config/gitlab-example/backend/social-network.gitlab-ci.yml
  ci-config/gitlab-example/backend/static-pages.gitlab-ci.yml
  ci-config/gitlab-example/backend/statistics.gitlab-ci.yml
  ci-config/gitlab-example/backend/templates-ci.yml
  ci-config/gitlab-example/frontend/Dockerfile
  ci-config/gitlab-example/frontend/nginx.conf
  ci-config/gitlab-example/frontend/pwa-dev.gitlab-ci.yml
  ci-config/gitlab-example/frontend/pwa-preprod.gitlab-ci.yml
  ci-config/gitlab-example/frontend/pwa-prod.gitlab-ci.yml
  ci-config/gitlab-example/frontend/templates-ci.yml
Due: none

feat(@multi-backend-mocks): ajout projet mocks anonymisé
  dev/user-backend-mocks/.env.dist
  dev/user-backend-mocks/.gitignore
  dev/user-backend-mocks/.nvmrc
  dev/user-backend-mocks/README.md
  dev/user-backend-mocks/bin/www
  dev/user-backend-mocks/package-lock.json
  dev/user-backend-mocks/package.json
  dev/user-backend-mocks/public/robot.jpg
  dev/user-backend-mocks/src/app.js
  dev/user-backend-mocks/src/auth/auth.mock.js
  dev/user-backend-mocks/src/auth/auth.route.js
  dev/user-backend-mocks/src/chatbot/chatbot.mock.js
  dev/user-backend-mocks/src/chatbot/chatbot.route.js
  dev/user-backend-mocks/src/contacts/contacts.mock.js
  dev/user-backend-mocks/src/contacts/contacts.route.js
  dev/user-backend-mocks/src/mail-calendar/mail-calendar.mock.js
  dev/user-backend-mocks/src/mail-calendar/mail-calendar.route.js
  dev/user-backend-mocks/src/notifications/notifications.mock.js
  dev/user-backend-mocks/src/notifications/notifications.route.js
  dev/user-backend-mocks/src/schedule/schedule.mock.js
  dev/user-backend-mocks/src/schedule/schedule.route.js
  package.json
Due: none

feat(@multi-backend-mocks): dates dynamiques
  dev/user-backend-mocks/src/mail-calendar/mail-calendar.mock.js
  dev/user-backend-mocks/src/schedule/schedule.mock.js
Due: none

feat(@multi-backend-mocks): mock restaurants
  dev/user-backend-mocks/README.md
  dev/user-backend-mocks/src/app.js
  dev/user-backend-mocks/src/restaurants/restaurants.mock.js
  dev/user-backend-mocks/src/restaurants/restaurants.route.js
Due: none

Path conditions:
  check-nodejs-version: any of: dev/user-backend-nest/main/**/*, dev/user-backend-nest/microservices/**/*, dev/user-frontend-ionic/**/*
  backend:main: any of: dev/user-backend-nest/main/**/*
  backend:microservice:auth: any of: dev/user-backend-nest/microservices/auth/**/*
  backend:microservice:cards: any of: dev/user-backend-nest/microservices/cards/**/*
  backend:microservice:chatbot: any of: dev/user-backend-nest/microservices/chatbot/**/*
  backend:microservice:clocking: any of: dev/user-backend-nest/microservices/clocking/**/*
  backend:microservice:contact-us: any of: dev/user-backend-nest/microservices/contact-us/**/*
  backend:microservice:contacts: any of: dev/user-backend-nest/microservices/contacts/**/*
  backend:microservice:features: any of: dev/user-backend-nest/microservices/features/**/*
  backend:microservice:important-news: any of: dev/user-backend-nest/microservices/important-news/**/*
  backend:microservice:mail-calendar: any of: dev/user-backend-nest/microservices/mail-calendar/**/*
  backend:microservice:map: any of: dev/user-backend-nest/microservices/map/**/*
  backend:microservice:notifications: any of: dev/user-backend-nest/microservices/notifications/**/*
  backend:microservice:restaurants: any of: dev/user-backend-nest/microservices/restaurants/**/*
  backend:microservice:rss: any of: dev/user-backend-nest/microservices/rss/**/*
  backend:microservice:schedule: any of: dev/user-backend-nest/microservices/schedule/**/*
  backend:microservice:social-network: any of: dev/user-backend-nest/microservices/social-network/**/*
  backend:microservice:static-pages: any of: dev/user-backend-nest/microservices/static-pages/**/*
  backend:microservice:statistics: any of: dev/user-backend-nest/microservices/statistics/**/*
  frontend: any of: dev/user-frontend-ionic/src/**/*, dev/user-frontend-ionic/project/**/*
